{% extends "blog/base.html" %} 
{% block content%}
    <h1>About</h1>
    <p>We with Medwiz/Chiron are trying to make a website where people can easily learn about diseases and their particulars. People in general start to panic when they hear the word disease, So, here we want to provide all the necessary information from prevention to remedies and also steps to be taken further.
The information in the website will be verified by professionals of the field and people will receive accurate knowledge about their ailment.
With this, we want to help people with less or no knowledge about a particular disease, learn about it and also to receive advice on how to approach it.
</p>
    <script>for(var x=0;x<=25;x++){document.write("<br>")}</script>
{% endblock%}
