{%extends "blog/base.html" %} 
{% block content%}
    {% for medicine in medicines%}
        <article class="media content-section">
            
            <div class="media-body">
            <div class="article-metadata">
                
                <small class="text-muted">{{ medicine.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2>
                <a class="article-title" href="{% url 'medicine-detail' medicine.id %}"
                >{{ medicine.title }}</a></h2><small class="text-muted">&uarr; Click on title to read more.</small>
                
            
            <p class="article-content">{{ medicine.content| slice:300 | safe }}</p>
            <a href="{% url 'medicine-detail' medicine.id %}"></a>
            
            
            </div>

        </article>

    {% endfor %} 
{% endblock%}